<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bomberman64-TheSecondAttack | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Bomberman64-TheSecondAttack</h3>
            <img class="thumbnail" src="Bomberman64sabox.webp">
            <p>Bomberman 64: The Second Attack! (爆ボンバーマン２, Baku Bonbāman 2, lit. "Explosive Bomberman 2) is a 1999 sequel to 1997's
            Bomberman 64. It expands over its predecessor in almost every possible way, adding a deeper storyline, better graphics,
            more involved levels and bosses, many types of elemental bombs, a playable companion character, and light RPG elements.
            Perhaps owing to its status as a late release for the Nintendo 64, it wasn't released in Europe. However, it would not
            be the final Bomberman game for the system.</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
            <div id="game"></div>
     </div>
       <script type="text/javascript">
    EJS_player = '#game';
    EJS_gameUrl = '/handlebargames/Bomberman64-TheSecondAttack(USA).z64'; // Url to Game rom
    EJS_core = 'n64';
    EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>


