<div class="comment-card">
    <div class="comment-card-header">
        {{game_name}}
    </div>
    <div class="card-body">
        <p>
            Feedback:
            {{comment}}
        </p>
        <p>
            Name:
            {{gamer_name}}
        </p>
    </div>
</div>