<div class="comment-card">
    <div class="comment-card-header">
        {{game_name}}
    </div>
    <div class="card-body">
        <p>
            How do you feel?
            {{comment}}
        </p>
        <p>
            Name please:
            {{name}}
        </p>
    </div>
</div>