<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navContainer">
    <nav class="navbarComments">
          <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-warning contactUsATag" href="allComments">
            <strong>Comment </strong>
          </a>

          <a class="button is-secondary gamesATag" href="games">
            <strong>GameZone</strong>
          </a>

          <a class="button is-warning logoutATag" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
    </nav>
    </div>  
    <section class="section">
        <div class="container">
            <h1 class="title titleContactUs">
                CONTACT US!
            </h1>
            <p class="subtitle">
            <strong>Below is all the information you need to get in contact with our team! Feel free to hit us up directly throught our emails with any questions. And make sure to checkout our GitHubs to see all the cool and fun stuff we're working on! </strong>!
            </br>
            </br>
            <strong><span class="punchline">We came together as Team and we concoured. "Gameathon" </span></strong>
        
            </p>
        </div>
    </section>
</body>

</html>



<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="prateekYOLK.jpeg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="ducatiPrateek.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                
                <p class="title is-4">PrateekV</p>
                <p class="subtitle is-6">@TheBiker</p>
            </div>
        </div>

        <div class="content">
            <p>You can reach me here</p>
            <a href="https://github.com/iTeak">GitHub</a>           
            <br>
            <a href="mailto:prateekverghese@gmail.com">Email</a>
            <br>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-image">
        <figure class="image is-4by2">
            <img src="claireLONDON.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="redbusClaire.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">ClaireFreeman</p>
                <p class="subtitle is-6">@TheTraveler</p>
            </div>
        </div>

        <div class="content">
            <p>You can reach me here</p>
            <a href="https://github.com/claire-max">GitHub</a>           
            <br>
            <a href="mailto:clairefreeman528@gmail.com">Email</a>
            <br>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-image">
        <figure class="image is-4by2">
            <img src="remaAtTheBeach.jpeg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="remaSunset.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">RimaDas</p>
                <p class="subtitle is-6">@TheAdventurous</p>
            </div>
        </div>
        <div class="content">
            <p>You can reach me here</p>
            <a href="https://github.com/rimadas9878">GitHub</a>           
            <br>
            <a href="mailto:dasrima476@gmail.com">Email</a>
            <br>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="SantiagoInArgentina.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="santiDOOMSDAYCLOCK.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">SantiagoC</p>
                <p class="subtitle is-6">@TheGamer</p>
            </div>
        </div>
        <div class="content">
            <p>You can reach me here</p>
            <a href="https://github.com/Everyone1138">GitHub</a>           
            <br>
            <a href="mailto:campos.santiago138@gmail.com">Email</a>
            <br>
        </div>

    </div>
</div>

