<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Zone!</title>
  <link rel="stylesheet" href="/css/gamepage-style.css">
</head>


<div class="row small-up-2 medium-up-3 large-up-4 gameGrid">
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/ZeldaOcarinaOfTime.png">
    <h5 class="font-effect-shadow-multiple"><a href="/zelda"> The legend of Zelda:Ocarina of time </a>
    </h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/Turok64.png">
    <h5 class="font-effect-shadow-multiple">Turok</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/tetrisandDRmario.png">
    <h5 class="font-effect-shadow-multiple"><a href="/"Tetris & Dr. Mario</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioworldTWOSNES.png" >
    <h5 class="font-effect-shadow-multiple">Super Mario World 2</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioWorldSNES.png" >
    <h5 class="font-effect-shadow-multiple">Super MarioWorld</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/StarFoxSNES.png" >
    <h5 class="font-effect-shadow-multiple">StarFox</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/southpark64.png" >
    <h5 class="font-effect-shadow-multiple">South Park</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonYELLOWGB.png" >
    <h5 class="font-effect-shadow-multiple">Pokémon Yellow</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonBLUEGB.png" >
    <h5 class="font-effect-shadow-multiple">Pokémon Blue</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple">Super Mario 64</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/maddenNINTYNINE.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/MaddenNinetynine">Madden NFL 1999 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KillerInstincGold.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KillerInstinctSixtyFour">Killer Instinct Gold 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/diddyKongQuest.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/DiddyKongQuestSNES"> Diddy Kong Quest SNES</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/BomberMAnSixtyfourTWO (2).png" >
    <h5 class="font-effect-shadow-multiple"><a href="/FzeroSixtyFour">F-Zero X 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioKArtSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple">NmarioKart 64</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/fzeroXsixtyfour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/bombermanSixtyFourTwo">Bomberman64-TheSecondAttack</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/GoldenEyeN64.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/GoldenEye">GoldenEye 007 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonSILVERGB.png" >
    <h5 class="font-effect-shadow-multiple">Pokémon Silver</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KobeBryantCourtSide.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KobeBryantNBAcourtside"> Kobe Bryant's NBA COURTSIDE 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/megamanSIXTYFPO.png" >
    <h5 class="font-effect-shadow-multiple">Mega Man 64</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermariokartSNES.png" >
    <h5 class="font-effect-shadow-multiple">Super MarioKart</h5>
  </div>



{{!-- <hr>

<div class="row">
  <div class="medium-6 columns">
    <h3 class="font-effect-shadow-multiple">Contact us</h3>
    <p>
    </p>
    <ul class="menu">
      <li><a href="#">Dribbble</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Yo</a></li>
    </ul>
  </div>
  <div class="medium-6 columns">
  </div>
</div>
</div>
</div>
</div>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Marketing Site</li>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
      <li><a href="#">Five</a></li>
      <li><a href="#">Six</a></li>
    </ul>
  </div>
</div> --}}

{{!-- </body>

</html> --}}



{{!-- <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <img class="thumbnail" src="https://placehold.it/550x350">
        <h5>{{ title }}</h5>
        <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus
          ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">Gameathon</span>
        </div>
      </div>
      <div class="callout primary">
        <div class="row column">
          <h1>Welcome to Gameathon</h1>
          <p class="lead"></p>
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4">
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/BomberMAnSixtyfourTWO (2).png">
          <h5>Bomber Man 64</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/diddyKongQuest.png">
          <h5>Diddy Kong Quest</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/KillerInstincGold.png">
          <h5>Killer Instinct Gold</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/MarioKArtSixtyFour.png">
          <h5>Mario Kart 64</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/southpark64.png">
          <h5>South Park</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/StarFoxSNES.png">
          <h5>Star Fox</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/Turok64.png">
          <h5>Turok</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="./GameFolder/images/ZeldaOcarinaOfTime.png">
          <h5>Zelda Ocarina Of Time</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/550x550">
          <h5>My Site</h5>
        </div>
      </div>

      <hr>

      <!-- <div class="row">
            <div class="medium-6 columns">
              <h3>Contact Me</h3>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
              <ul class="menu">
                <li><a href="#">Dribbble</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Yo</a></li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <label>Name
                <input type="text" placeholder="Name">
              </label>
              <label>Email
                <input type="text" placeholder="Email">
              </label>
              <label>
                Message
                <textarea placeholder="holla at a designerd"></textarea>
              </label>
              <input type="submit" class="button expanded" value="Submit">
            </div>
          </div>  -->
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>

--}}