<!doctype html>
  <html class="no-js" lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAMEATHON</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

      <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Press+Start+2P&effect=neon|outline|fire|emboss|shadow-multiple">
  
  </head>
  
  <body>
  
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="https://placehold.it/550x350">
            <h5 class="font-effect-shadow-multiple">START GAMING NOW!</h5>
            <p>Have you ever wanted to </p>
          </div>
        </div>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">GAMEATHON!</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">CONTACT US!</a></li>
      <li><a href="#">ABOUT THE TEAM</a></li>
    </ul>
  </div>
</div>
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title"></span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1 class="font-effect-shadow-multiple">🍒WELCOME TO GAMEATHON!🍒</h1>
              <p class="lead">Thank you for making a login to gain access to our awesome game selection. PLAY FOR FREE! THESE GAMES CAN BE PLAYED IN YOUR WEB BROWSER! Below you have a list of our games. 
                Click on the game title you want to play to get started.

              </p>
            </div>
          </div>
  
  
  
          <div class="row small-up-2 medium-up-3 large-up-4">
            <div class="column">
              <img class="thumbnail" src="ZeldaOcarinaOfTime.png" alt="Zelda">
              <h5 class="font-effect-shadow-multiple"><a href="/zelda"> The legend of Zelda:Ocarina of time </a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="Turok64.png" alt="Turok">
              <h5 class="font-effect-shadow-multiple"><a href="/Turok">Turok-Dinosour Hunter 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="tetrisandDRmario.png">
              <h5 class="font-effect-shadow-multiple"><a href="/marioAndTetris"> Tetris and Dr. Mario</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="supermarioworldTWOSNES.png">
              <h5 class="font-effect-shadow-multiple"><a href="supermarioworldTWOSNES">Super Mario World 2</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="supermarioWorldSNES.png">
              <h5 class="font-effect-shadow-multiple"><a href="supermarioworldSNES">Super MarioWorld</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="StarFoxSNES.png">
              <h5 class="font-effect-shadow-multiple"><a href="starfoxSNES">StarFox</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="southpark64.png">
              <h5 class="font-effect-shadow-multiple"><a href="southPark">South Park</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="pokemonYELLOWGB.png">
              <h5 class="font-effect-shadow-multiple"><a href="/pokemonYELLOWGB">Pokémon Yellow</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="pokemonBLUEGB.png">
              <h5 class="font-effect-shadow-multiple"><a href="/pokemonBLUEGB">Pokémon Blue</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="MarioSixtyFour.png">
              <h5 class="font-effect-shadow-multiple"><a href="/mariosixtyfour">Super Mario 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="maddenNINTYNINE.png">
              <h5 class="font-effect-shadow-multiple"><a href="/MaddenNinetynine">Madden NFL 1999 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="KillerInstincGold.png">
              <h5 class="font-effect-shadow-multiple"><a href="/KillerInstinctSixtyFour">Killer Instinct Gold 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="diddyKongQuest.png">
              <h5 class="font-effect-shadow-multiple"><a href="/DiddyKongQuestSNES">Donkey Kong Country 2: Diddy's Kong Quest</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail imgGrid" src="BomberMAnSixtyfourTWO.png">
              <h5 class="font-effect-shadow-multiple"><a href="/bombermanSixtyFourTwo">Bomberman64-TheSecondAttack</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail imgGrid" src="fzeroXsixtyfour.png">
              <h5 class="font-effect-shadow-multiple"><a href="/FzeroSixtyFour">F-Zero X 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="MarioKArtSixtyFour.png">
              <h5 class="font-effect-shadow-multiple"><a href="/MarioKart64">MarioKart 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="GoldenEyeN64.png">
              <h5 class="font-effect-shadow-multiple"><a href="/GoldenEye">GoldenEye 007 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="pokemonSILVERGB.png">
              <h5 class="font-effect-shadow-multiple"><a href="/pokemnonSILVERGB">Pokémon Silver</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="KobeBryantCourtSide.png">
              <h5 class="font-effect-shadow-multiple"><a href="/KobeBryantNBAcourtside"> Kobe Bryant's NBA COURTSIDE 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="megamanSIXTYFPO.png">
              <h5 class="font-effect-shadow-multiple"><a href="/megamanSIXTYFOUR">Mega Man 64</a></h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="supermariokartSNES.png">
              <h5 class="font-effect-shadow-multiple"><a href="/SuperMarioKartSNES">Super Mario Kart SNES</a></h5>
            </div>
  
          </div>
  
          <hr>
  
          <div class="row">
            <div class="medium-6 columns">
              <h3 class="font-effect-shadow-multiple">WHAT'S UP GAMER?</h3>
              <p>
                We hope your enjoyed your time here at GAMEATHON. feel free to click on the "CONTACT US" link so you can check out the team!
              </p>
            </div>
            <div class="medium-6 columns">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">GAMEATHON!</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">CONTACT US!</a></li>
          <li><a href="#">ABOUT THE TEAM</a></li>
        </ul>
      </div>
    </div>
  </body>
  
  </html>