<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Zone!</title>
  <link rel="stylesheet" href="/css/gamepage-style.css">
</head>


<div class="row small-up-2 medium-up-3 large-up-4 gameGrid">
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/ZeldaOcarinaOfTime.png">
    <h5 class="font-effect-shadow-multiple"><a href="/zelda"> The legend of Zelda:Ocarina of time </a>
    </h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/Turok64.png">
    <h5 class="font-effect-shadow-multiple">Turok</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/tetrisandDRmario.png">
    <h5 class="font-effect-shadow-multiple"><a href="/"Tetris & Dr. Mario</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioworldTWOSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="supermarioworldTWOSNES">Super Mario World 2</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioWorldSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="supermarioworldSNES">Super MarioWorld</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/StarFoxSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="starfoxSNES">StarFox</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/southpark64.png" >
    <h5 class="font-effect-shadow-multiple"><a href="southPark">South Park</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonYELLOWGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/pokemonYELLOWGB">Pokémon Yellow</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonBLUEGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href= "/pokemonBLUEGB">Pokémon Blue</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/mariosixtyfour">Super Mario 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/maddenNINTYNINE.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/MaddenNinetynine">Madden NFL 1999 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KillerInstincGold.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KillerInstinctSixtyFour">Killer Instinct Gold 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/diddyKongQuest.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/DiddyKongQuestSNES"> Diddy Kong Quest SNES</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/BomberMAnSixtyfourTWO (2).png" >
    <h5 class="font-effect-shadow-multiple"><a href="/FzeroSixtyFour">F-Zero X 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioKArtSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple">NmarioKart 64</h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/fzeroXsixtyfour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/bombermanSixtyFourTwo">Bomberman64-TheSecondAttack</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/GoldenEyeN64.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/GoldenEye">GoldenEye 007 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonSILVERGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/pokemnonSILVERGB">Pokémon Silver</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KobeBryantCourtSide.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KobeBryantNBAcourtside"> Kobe Bryant's NBA COURTSIDE 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/megamanSIXTYFPO.png" >
    <h5 class="font-effect-shadow-multiple"><a href="megamanSIXTYFOUR">Mega Man 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermariokartSNES.png" >
  </div>
  </div>
 