{{!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Zone!</title>
  <link rel="stylesheet" href="/css/gamepage-style.css">
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>

<body>
 <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <img class="thumbnail" src="https://placehold.it/550x350">
                    <h5 class="font-effect-shadow-multiple">START GAMING NOW!</h5>
                    <p>Have you ever wanted to </p>
                </div>
            </div>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Marketing Site</li>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">Three</a></li>
                <li><a href="#">Four</a></li>
                <li><a href="#">Five</a></li>
                <li><a href="#">Six</a></li>
            </ul>
        </div>
    </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="my-info"></button>
                        <span class="title-bar-title"></span>
                    </div>
                </div>
                <div class="callout primary">
                    <div class="row column">
                        <h1 class="font-effect-shadow-multiple">WELCOME TO GAMEATHON.</h1>
                        <p class="lead">.</p>
                    </div>
                </div>
<div class="grid">
<div class="row small-up-2 medium-up-3 large-up-4 gameGrid">
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/ZeldaOcarinaOfTime.png">
    <h5 class="font-effect-shadow-multiple"><a href="/zelda"> The legend of Zelda:Ocarina of time </a>
    </h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/Turok64.png">
    <h5 class="font-effect-shadow-multiple"><a href="/Turok">Turok-Dinosour Hunter 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/tetrisandDRmario.png">
    <h5 class="font-effect-shadow-multiple"><a href="/marioAndTetris"> Tetris and Dr. Mario</a></h5>
  </div>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioworldTWOSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="supermarioworldTWOSNES">Super Mario World 2</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermarioWorldSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="supermarioworldSNES">Super MarioWorld</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/StarFoxSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="starfoxSNES">StarFox</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/southpark64.png" >
    <h5 class="font-effect-shadow-multiple"><a href="southPark">South Park</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonYELLOWGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/pokemonYELLOWGB">Pokémon Yellow</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonBLUEGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href= "/pokemonBLUEGB">Pokémon Blue</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/mariosixtyfour">Super Mario 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/maddenNINTYNINE.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/MaddenNinetynine">Madden NFL 1999 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KillerInstincGold.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KillerInstinctSixtyFour">Killer Instinct Gold 64</a></h5>
  </div> 
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/diddyKongQuest.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/DiddyKongQuestSNES"> Diddy Kong Quest SNES</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/BomberMAnSixtyfourTWO (2).png" >
    <h5 class="font-effect-shadow-multiple"><a href="/FzeroSixtyFour">F-Zero X 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/MarioKArtSixtyFour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/MarioKart64">MarioKart 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/fzeroXsixtyfour.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/bombermanSixtyFourTwo">Bomberman64-TheSecondAttack</a></h5>
  </div>
  {{!-- <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/GoldenEyeN64.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/GoldenEye">GoldenEye 007 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/pokemonSILVERGB.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/pokemnonSILVERGB">Pokémon Silver</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/KobeBryantCourtSide.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/KobeBryantNBAcourtside"> Kobe Bryant's NBA COURTSIDE 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/megamanSIXTYFPO.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/megamanSIXTYFOUR">Mega Man 64</a></h5>
  </div>
  <div class="column">
    <img class="thumbnail imgGrid" src="/GameFolder/images/supermariokartSNES.png" >
    <h5 class="font-effect-shadow-multiple"><a href="/SuperMarioKartSNES">Super Mario Kart SNES</a></h5>
  </div> --}}
  </div>
</div>
   --}}