<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoldenEye 007 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>


    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🔫WHERE GAMERS GO!🔫</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>GoldenEye 007 64</h3>
            <img class="thumbnail" src="GoldenEye007box.jpg">
            <p>GoldenEye was originally designed to be an awesome series of first-person-perspective missions that put players in the
            immaculately tailored shoes of James Bond. The idea of a game that would allow you to live out scenarios from over three
            decades of action-packed movies was sheer brilliance, and doubtlessly would have made GoldenEye a great game in its own
            right. But then at the last minute, one of the developers had the idea to throw in a multiplayer mode, and a gaming
            legend was born. With over 40 playable characters, 32 devastating weapons, 11 treacherous death maps, 8 separate game
            modes, a metric ton of game-shattering cheat options, all at the disposal of up to 4 players at once made GoldenEye the
            greatest multiplayer game of its generation. The idea of four friends all clumped together on a couch, and staring at
            the same screen is a lost novelty these days. And that’s a shame. Games like GoldenEye really brought out a sense of
            comradery. It takes good humor, and some serious guts to laugh at the guy you just drove over with a digital tank, when
            they’re sitting two feet away from you. And focusing on just your quarter of the television screen, never knowing when
            your enemies would spring out to attack you was an experience that never let the tension ease up for a second...unless
            you were a dirty cheater who decided to look at where everyone else was standing and throw grenades at them like you
            were some sort of psychic demolitions expert. Either way, GoldenEye was endless fun to play and remains a title that
            will leave you shaken and stirred.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
    <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/GoldenEye007.z64'; // Url to Game rom
        EJS_core = 'n64';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>