<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Killer Instinct GOLD 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>

    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🤫WHERE GAMERS GO!🤫</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Killer Instinct GOLD 64</h3>
            <img class="thumbnail" src="KillerInstinctGoldcoverart.jpg">
            <p>Killer Instinct 2 (commonly abbreviated as KI2) is a 1996 arcade fighting game, and the sequel to Killer Instinct. Like
            its predecessor, the game features two 8-way joysticks with six buttons each for attacks (three punch and three kick),
            allowing for both a single player mode or a two player versus mode. KI2 was ported to the Nintendo 64, known as Killer
            Instinct Gold, in 1996.As with most fighting games and indeed its predecessor, two characters square off with the goal of depleting the
            opponent's life bar. As with the original Killer Instinct, when a player's original life bar is fully depleted, he or
            she will fall to the ground, and immediately begin on his or her second lifebar.As with the first game, Killer Instinct 2 relies on an automatic combo subsystem in its matches. The matches, as with
            Killer Instinct, revolve around a three strength system (Quick, Medium, and Fierce.) However, normal moves have lost a
            lot of their priority and range, as well as gaining extra recovery time. Throws have been added into the game to deal
            with blocking characters (as opposed to the top attack in Killer Instinct.) Additionally, characters can be knocked down
            much easier with normal moves than in the first game, ending the possibility of opening with a 'glitch' combo and also
            weakening the effectiveness of normal moves. Normal special moves no longer are judged on priority, but instead follow a
            three tiered 'rock, paper, scissors' system, in which a certain special move will always break another certain special
            move (similar to the three tiered system in Soul Calibur.) The system has been seen as flawed due to little differences
            between the special moves themselves.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
    <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = 'handlebargames/KillerInstinctGold.z64'; // Url to Game rom
        EJS_core = 'n64';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>