{{!-- <div class="body">
  <div class="pagewrap">
    <div class="row">
      <div class="col-md-6 titlediv">

        <form class="form login-form centerconsole">
          <div class="form-group usernameGrid">
            <label for="email-login">Username :</label>
            <input class="form-input usernametext" type="text" id="email" />
          </div>
          <div class="form-group passwordGrid">
            <label for="password-login">Password :</label>
            <input class="form-input passwordtext" type="password" id="password" />
          </div>
          <div class="form-group  btn-grid">
            <button class="btn btn-primary btn btns" type="submit">Play <i class='fas fa-gamepad'></i></button>
            <button class="btnlogin btn btns"><a href="/signup">Signup <i class='fas fa-gamepad'></i></a></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="/js/login.js"></script> --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Zone!</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<header>
  <h1 class="gameathonTitle">Gameathon!</h1>
</header>
  <div class="loginForm">
    <div class="controls">
      <form class="login-form">
        <div class="loginUsernameGrid">
          <label for="email-login" class="usernameText">Username :</label>
          <input class="form-input usernameInputText" type="text" id="email" />
        </div>
        <div class="passwordUsernameGrid">
          <label for="password-login" class="passwordText">Password :</label>
          <input class="form-input passwordInputText" type="password" id="password" />
        </div>

        <div class="btnControls">
          <div class="btns">
            <button class="btn">Play</button>
          </div>
          <div class="btns">
            <button class="btn"><a href="/signup">Signup</a></button>
          </div>
        </div>
      </form>
    </div>
  </div>
<script src="/js/login.js"></script>