<div class="titlediv">

</div>
<div class="centerconsole">
    <div>
        <div class="titlediv">
            <h1>Gameathon</h1>
        </div>
        <div>
            <h3>Username</h3>
            <h4 class="usernametext"><input type="text"></h4>
            <h3>Password</h3>
            <h4 class="passwordtext"><input type="text"></h4>
            <div class="btn-grid">
                <button class="btnlogin"> Login </button>
                <button class="btnlogin"><a href="/signup">Signup</a></button>
                <button>Forgot my password</button>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>