<div class="row">
  <div class="col-md-6 titlediv">

    <form class="form login-form centerconsole">
      <div class="form-group">
        <label for="email-login">Username :</label>
        <input class="form-input usernametext" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input passwordtext" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
        <button class="btnlogin"><a href="/signup">Signup</a></button>
      </div>
    </form>
  </div>
<script src="/js/login.js"></script>