<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<div class="container">
<div class="body">
    <h1>Gameathon</h1>
    <div class="row">
      <div class="col-md-6 titlediv">

        <form class="form login-form centerconsole">
          <div class="form-group usernameGrid">
            <label for="email-login">Username :</label>
            <input class="form-input usernametext" type="text" id="email" />
          </div>
          <div class="form-group passwordGrid">
            <label for="password-login">Password :</label>
            <input class="form-input passwordtext" type="password" id="password" />
          </div>
          <div class="form-group  btn-grid">
            <button class="btn btn-primary btn btns" type="submit">Login <i class='fas fa-gamepad'></i></button>
            <button class="btnlogin btn btns"><a href="/signup">Signup <i class='fas fa-gamepad'></i></a></button>
          </div>
        </form>
      </div>
    </div>
</div>
 </div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<script src="/js/login.js"></script>