<div class="body">
  <div class="pagewrap">
    <div class="row">
      <div class="col-md-6 titlediv">

        <form class="form login-form centerconsole">
          <div class="form-group usernameGrid">
            <label for="email-login">Username :</label>
            <input class="form-input usernametext" type="text" id="email" />
          </div>
          <div class="form-group passwordGrid">
            <label for="password-login">Password :</label>
            <input class="form-input passwordtext" type="password" id="password" />
          </div>
          <div class="form-group  btn-grid">
            <button class="btn btn-primary btn btns" type="submit">Play <i class='fas fa-gamepad'></i></button>
            <button class="btnlogin btn btns"><a href="/signup">Signup <i class='fas fa-gamepad'></i></a></button>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="/js/login.js"></script>

