<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madden NFL 99 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>

    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🏈WHERE GAMERS GO!🏈</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Madden NFL 99 64</h3>
            <img class="thumbnail" src="maddenNFL.jpg">
            <p>Madden NFL 99 is a football video game released for the PlayStation, Nintendo 64 and Microsoft Windows. It is the first
            multiplatform Madden game to be fully 3D and polygonally based (and the second one following the N64-exclusive, Madden
            Football 64) and is also the first game to feature Franchise mode. The game's commentary is by John Madden and Pat
            Summerall. The American version of the game features John Madden himself on the cover, while the European version uses
            Garrison Hearst instead. The game was the top-selling PlayStation sports video game in 1998 in North America, having
            sold 1.1 million copies on the PlayStation.The game is the first to feature the concept of covering the ball while running and the chop block and "clothesline"
            techniques, which were later scrapped and moved to players simply tackling ball-carriers. Although players' heights
            resemble their real-life counterparts, all players share the same sized physiques. The game includes twelve historic
            teams, including the 1978 Steelers and 1985 Bears and secret teams such as the Tiburon sports team and NFL All-Star
            teams from each decade. The Cleveland Browns, who were a year away from rejoining the league, can be accessed for
            exhibition games via the password "WELCOMEBACK".
            This is the first Madden game to feature Franchise Mode, in which the user can control their team for 15 seasons,
            complete with realistic NFL type schedules consisting of alternating inter-conference divisional opponents. The user is
            able to trade, sign/release and draft players. Drawbacks to this feature include only one player/team owner being
            allowed to participate during the same franchised season, and the second prohibits any created players from being added
            to specific teams or to the free agent pool.
            This is one of the few PlayStation games to support two multi-taps allowing for up to eight players to play
            simultaneously.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
    <div id="game"></div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/MaddenNFL99.z64'; // Url to Game rom
        EJS_core = 'n64';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>