<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Mario 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Super Mario 64</h3>
            <img class="thumbnail" src="SuperMario64boxcover.jpg">
            <p>Super Mario 64 is a platform video game developed and published by Nintendo for the Nintendo 64. It was released in Japan and North America in 1996 and PAL regions in 1997. It is the first Super Mario game to feature 3D gameplay, combining traditional Super Mario gameplay, visual style, and characters in a large open world. In the game, Bowser, the primary antagonist of the Super Mario franchise, invades Princess Peach's castle and hides the castle's sources of protection, Power Stars, in many different worlds inside magical paintings. As Mario, the player collects Power Stars to unlock enough of Princess Peach's castle to get to Bowser and rescue Princess Peach.

Director Shigeru Miyamoto conceived a 3D Super Mario game during the production of Star Fox (1993). Development lasted nearly three years: about one year on design and twenty months on production, starting with designing the virtual camera system. The team continued with illustrating the 3D character models—at the time a relatively unattempted task—and refining sprite movements. The game's sound effects were recorded by Yoji Inagaki and the score was composed by Koji Kondo.

Super Mario 64 was highly anticipated by video game journalists and audiences, boosted by advertising campaigns and showings at the 1996 E3 trade show. It received critical acclaim, with reviewers praising its ambition, visuals, and gameplay, though some criticized its virtual camera system. It is the best-selling Nintendo 64 game, with nearly twelve million copies sold by 2015.

Retrospectively, Super Mario 64 has been considered one of the greatest video games of all time. Numerous developers have cited it as an influence on 3D platform games, with its dynamic camera system and 360-degree analog control establishing a new archetype for the genre, much as Super Mario Bros. did for side-scrolling platform games. It was remade as Super Mario 64 DS for the Nintendo DS in 2004, and has been ported to other Nintendo consoles since. The game has attracted a cult following, spawning many fangames, a large speedrunning presence, and enduring rumors surrounding game features.</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
    <div id="game"></div>
</div>
<script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/SuperMario64(USA).n64'; // Url to Game rom
        EJS_core = 'n64';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
</script>
<script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js">
</script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>

