<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tetris & Dr. Mario | Welcome</title>
    <link rel="stylesheet" href="pagestyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div class="top-bar">
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="games">GO BACK TO MAIN PAGE!</a></li>
                <li><a href="#">CONTACT US!</a></li>
            </ul>
        </div>

    </div>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text" id="headerFont">GAMEATHON! </li>
            </ul>
        </div>
    </div>


    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🧩WHERE GAMERS GO!💊</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Tetris & Dr. Mario</h3>
            <img class="thumbnail" src="TetrisandDrMarioboxart.jpg">
            <p>Tetris & Dr. Mario is a 1994 puzzle video game compilation developed by Intelligent Systems and published by Nintendo
            for the Super Nintendo Entertainment System. It contains enhanced remakes of Tetris (1989) and Dr. Mario (1990), which
            were originally released for both the Nintendo Entertainment System and Game Boy in North America. Both games include
            split-screen multiplayer and a "Mixed Match" mode that transitions between the two games.
            
            Development was by Intelligent Systems, and was one of the last SNES games released in North America. The Japanese
            version of the game excludes Tetris due to Bullet-Proof Software holding the console rights to the series in Japan. The
            remake of Dr. Mario was also broadcast through the Satellaview, renamed BS Dr. Mario, and was the last game to be
            broadcast on the system. Tetris & Dr. Mario received generally positive reviews, with critics praising its controls and
            multiplayer, particularly the Mixed Match mode. It sold 6 million copies.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
    <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/TetrisAndDrMario.sfc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js">
    </script>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>