    <div style="width: 960px;height:680px;max-width:100%">
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/GameFolder/game/PokemonYellow Versio.gb'; // Url to Game rom
        EJS_core = 'gba';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>