<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémon Yellow Version GB | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🔌WHERE GAMERS GO!🔌</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Pokémon Yellow Version</h3>
            <img class="thumbnail" src="pokemonyellowthumbnail.jpg">
            <p>Pokémon Yellow Version: Special Pikachu Edition,[a] more commonly known as Pokémon Yellow Version or Pokémon Yellow, is a 1998 role-playing video game developed by Game Freak and published by Nintendo for the Game Boy. It is an enhanced version of Pokémon Red and Blue and is part of the first generation of the Pokémon video game series. It was first released in Japan on September 12, 1998, in Australia and North America in 1999 and in Europe in 2000. Along with the release of Pokémon Yellow, a special edition yellow Pokémon-themed Game Boy Color was also released. Pokémon Yellow is loosely based on the anime.

Remakes of Pokémon Yellow, titled Pokémon: Let's Go, Pikachu! and Let's Go, Eevee!, were released for the Nintendo Switch in 2018, the 20th anniversary of Yellow's release in Japan. Pokémon Yellow is an enhanced version of the Game Boy games Pokémon Red and Blue.[1] Like its predecessors, it is a third-person, overhead perspective and consists of three basic screens: an overworld, in which the player navigates the main character; a battle screen; and a menu interface, in which the player configures their party of Pokémon, items, or gameplay settings. The player uses their Pokémon to battle other Pokémon. When the player encounters a wild Pokémon or is challenged by a trainer, the screen switches to a turn-based battle screen that displays the engaged Pokémon. During a battle, the player may select one of up to four moves for their Pokémon to use, use an item, switch their active Pokémon, or attempt to flee. Pokémon have health points (HP); when a Pokémon's HP is reduced to zero, it faints and can no longer battle until it is revived. Once an enemy Pokémon faints, the player's Pokémon involved in the battle receive a certain number of experience points (EXP). After accumulating enough EXP, a Pokémon will level up. A Pokémon's level dictates its physical properties, such as the battle statistics acquired, and the moves learned.

Catching Pokémon is another essential element of the gameplay. During a battle with a wild Pokémon, the player may throw a Poké Ball at it. If the Pokémon is successfully caught, it will come under the ownership of the player. Factors in the success rate of capture include the HP of the target Pokémon and the type of Poké Ball used: the lower the target's HP and the stronger the Poké Ball, the higher the success rate of capture. The ultimate goal of the games is to complete the entries in the Pokédex, a comprehensive Pokémon encyclopedia, by capturing, evolving, and trading to obtain all 151 creatures. Pokémon Yellow allows players to trade Pokémon between two cartridges via a Game Link Cable, including the previous games Pokémon Red and Blue. This method of trading must be done to fully complete the Pokédex, since each of the games has version-exclusive Pokémon. The Link Cable also makes it possible to battle another player's Pokémon team. </p>
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/PokemonYellowVersion.gb'; // Url to Game rom
        EJS_core = 'gba';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html