<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Silver GBA | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    

    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🚀WHERE GAMERS GO!🚀</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Pokemon Silver</h3>
            <img class="thumbnail" src="pokemonsilverthumbnail.jpg">
            <p> Pokémon Gold Version and Pokémon Silver Version are 1999 role-playing video games developed by Game Freak and published by Nintendo for the Game Boy Color. They are the first installments in the second generation of the Pokémon video game series. They were released in Japan in 1999, Australia and North America in 2000, and Europe in 2001. Pokémon Crystal, an enhanced version, was released a year later in each region. In 2009, on the 10th anniversary of Gold and Silver, remakes titled Pokémon HeartGold and SoulSilver were released for the Nintendo DS.

The games introduce 100 new species of Pokémon and follow the progress of the player character in their quest to master Pokémon battling. Both games are independent of each other but feature largely the same plot and, while both can be played separately, it is necessary to trade between these games and their predecessors in order to fully complete each games' Pokédex. The Johto Saga of the Pokémon anime is based on the new region introduced in the games.

Pokémon Gold and Silver were critically acclaimed upon release. They are considered by some to be the best games in the entire series, as well as some of the most significant games of the fifth generation of video game consoles, despite some criticism for its lack of plot. They continued the enormous success of Pokémon Red and Blue as Pokémon began to form into a multi-billion dollar franchise. The games almost matched the sales of Red and Blue, and by 2010 had gone on to sell over 23 million units making them the best-selling games for the Game Boy Color and the third-best-selling for the Game Boy family of systems/p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
    <div id="game"></div>
</div>
<script type="text/javascript">
    EJS_player = '#game';
    EJS_biosUrl = 'gbc_bios.bin';
    EJS_gameUrl = '/handlebargames/PokemonSilverVersion.gbc'; // Url to Game rom
    EJS_core = 'gba';
    EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
</script>
<script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>
