<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémon Blue Version GB | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Pokémon Blue Version</h3>
            <img class="thumbnail" src="pokemonbluethumbnail.jpg">
            <p>Pokémon Red Version and Pokémon Blue Version are 1996 role-playing video games developed by Game Freak and published by Nintendo for the Game Boy. They are the first installments of the Pokémon video game series. They were first released in Japan in 1996 as Pocket Monsters: Red[a] and Pocket Monsters: Green,[b] with the special edition Pocket Monsters: Blue[c] being released in Japan later that same year. The games were later released as Pokémon Red and Pokémon Blue in North America and Australia in 1998 and Europe in 1999. Pokémon Red and Pokémon Blue combined Red/Green/Blue for release outside of Japan.

Pokémon Yellow, an improved version, was released in Japan in 1998 and in other regions in 1999 and 2000. Remakes of Red and Green, Pokémon FireRed and LeafGreen, were released for the Game Boy Advance in 2004. Red, Blue, and Yellow–in addition to Green in Japan–were re-released on the Nintendo 3DS Virtual Console service on Nintendo eShop as direct ports of the originals, in 2016 as a commemoration of the franchise's 20th anniversary.

The player controls the protagonist from an overhead perspective and navigates him throughout the fictional region of Kanto in a quest to master Pokémon battling. The goal of the games is to become the champion of the Indigo League by defeating the eight Gym Leaders and then the top four Pokémon trainers in the land, the Elite Four. Another objective is to complete the Pokédex, an in-game encyclopedia, by obtaining the 151 available Pokémon. Red and Blue utilize the Game Link Cable, which connects two Game Boy systems together and allows Pokémon to be traded or battled between games. Both titles are independent of each other but feature the same plot,[1] and while they can be played separately, it is necessary for players to trade between both games in order to obtain all of the original 151 Pokémon.

Red and Blue were well-received with critics praising the multiplayer options, especially the concept of trading. They received an aggregated score of 89% on GameRankings and are considered among the greatest games ever made, perennially ranked on top game lists including at least four years on IGN's "Top 100 Games of All Time". The games' releases marked the beginning of what would become a multibillion-dollar franchise, jointly selling over 300 million copies worldwide. In 2009 they were declared by IGN to be the "Best selling RPG on the Game Boy" and "Best selling RPG of all time".</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/PokemonBlueVersion.gb'; // Url to Game rom
        EJS_core = 'gba';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>