<div class="pagewrap">
      <div class="controls">
        <form class="login-form">
          <h1 class="font-effect-shadow-multiple" id="ready">Gameathon</h1>
          <h3>Username</h3>
          <input id= "email" type="text" placeholder="">
          <h3>Password</h3>
          <input id="password" type="text" placeholder="">
          <div class="controls1">
         <div class="btns"><button class="btn">Login</button></div> 
         <div class="btns" > <button class="btn"><a href="/signup">Signup</a></button>  </div> 
         <!-- <div class="btns">  <button id="start-btn" class="btn">I forgot my Password</button>   </div>  -->
     </form>
      </div>     
        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>