<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>South Park 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>

    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🤫WHERE GAMERS GO!🤫</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>South Park 64</h3>
            <img class="thumbnail" src="southparkthumbnail.png">
            <p>In 1998 I was in junior high and South Park was all the buzz. Everyone was watching it. South Park was the Beavis and Butthead of that era. First person shooters were all the rage, and my friends and I were absolutely enamored with the first game in the license announced for the Nintendo 64. We watched trailers, gameplay videos, basically everything we could get our hands on. We legitimately expected it to be the next Goldeneye 007 because it was a first person shooter with multiplayer. Then it was released. I couldn’t afford it at the time and rented the game, and didn’t like it. Today I decided to take another look. So here’s our review of South Park for the Nintendo 64.

Activision was the developer behind the game, and it’s clear they had a pretty good grasp of the source material. It’s also pretty evident that Matt Stone and Trey Parker had little to do with it. The game begins with a great re-creation of the South Park opening sequence with 3D polygonal graphics. Aliens have landed in South Park and are trying to take over. It’s up to the boys; Eric, Kyle, Stan, and Kenny to stop them. That’s who you’ll play as; you can choose.

It doesn’t matter much which character you select because they all play pretty much the same. The major difference is the sound clips you’ll hear during gameplay. As I mentioned earlier the game is played from a first person perspective. You have two basic control settings; one uses the C-buttons for movement and the analog stick for aiming and changing directions. The other is more traditional for the system and the camera buttons are strictly for strafing and looking up/down.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
            <div id="game"></div>
        </div>
        <script type="text/javascript">
            EJS_player = '#game';
            EJS_gameUrl = '/handlebargames/SouthPark(USA).z64'; // Url to Game rom
            EJS_core = 'n64';
            EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
        </script>
        <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>
        </section>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>