<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STAR FOX SNES | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>

    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>🤫WHERE GAMERS GO!🤫</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>STAR FOX</h3>
            <img class="thumbnail" src="StarFoxSNES.jpg">
            <p>Star Fox[a], known as Starwing in PAL regions, is a 3D rail shooter game developed by Nintendo and Argonaut Software for the Super Nintendo Entertainment System. The first game in the Star Fox series, the story follows Fox McCloud and the rest of the Star Fox team defending their homeworld of Corneria against the invading forces of Andross.

Star Fox was the second 3D Nintendo game after X for the Game Boy in 1992, and the first Nintendo game to use polygonal graphics, achieved with the Super FX graphics chip included in the cartridge. The complex display of three-dimensional models with polygons was uncommon in console games.

Star Fox received critical acclaim and is often considered one of the greatest video games. It sold more than four million copies and established the Star Fox series as a flagship Nintendo franchise. The next-released game in the series, Star Fox 64, was a 1997 reboot for the Nintendo 64.

Nintendo re-released Star Fox worldwide for the first time in September 2017 as part of the Super NES Classic Edition.[2] In September 2019, Star Fox was made available on the Nintendo Switch for subscribers of the Nintendo Switch Online service. Star Fox is a rail shooter in a third-person and first-person 3D perspective. The player must navigate Fox's spacecraft, an Arwing, through environments while various enemies (spaceships, robots, creatures, etc.) attack them. Along the way, various power-ups are placed in the stage to help the player. The player receives a score at the end of each level based on how many enemies have been destroyed and how well the player has defended their teammates. At the end of each level there is a boss that the player must defeat before progressing to the next level.

Control of the Arwing includes thrusters and retro-rockets on the Arwing allowing the player to temporarily speed up or slow down. These can be used to maneuver around enemy attacks and other obstacles. Damage is incurred incrementally via loss of shield energy before the destruction of the craft. The game also has a small degree of locational damage detection: if the ship's wings clip against obstacles or the ground too much, they will break off, adversely affecting the craft's handling and removing the ability to upgrade weapons.</p>

        </div>
    </div>
    <div class="gameArea">
        <section class="gameFrame">
            <div>
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/StarFox(USA).sfc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>
        </section>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>