<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Mario Kart SNES | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Super Mario Kart</h3>
            <img class="thumbnail" src="SuperMarioKartNAboxart.webp">
            <p>Super Mario Kart is a racing game for the Super Nintendo Entertainment System, which was first released in 1992 and re-released in 1996 as a Player's Choice title, being the first title in the line up. Unlike the other racing games at the time, which focused on single-player racing with more complicated tracks, Super Mario Kart was focused on two players and was designed to be an easy and intuitive "pick up and play" experience that heavily involves the use of acquiring weapons on an obstacle course-like track to impede another player's progress. The development of a one-on-one Battle Mode was invented as another way to enjoy the competitive aspects of the game. Another notable aspect of the game is its Mode 7 graphics, where the game simulates a 3D plane by rotating and scaling a background graphic on a scanline-by-scanline basis, allowing players to simulate driving in a 3D environment. Much of this game is heavily based on Super Mario World with both graphics and general themes being taken from this game. This includes sprites reusing assets from Super Mario World as well as the game's soundtrack rearranging several Super Mario World melodies.

The game's success spawned the hugely influential Mario Kart series, while also helping to pioneer the kart-racing genre. The game's success has also influenced the greater Mario franchise, with elements from it appearing throughout it. Examples of these kinds of elements include a level designed after Super Mario Kart's courses appearing in Super Mario 3D World as well as Rainbow Road making an appearance in Paper Mario: Color Splash. Super Mario Kart's use of a wider cast of characters such as Bowser and Peach was the first of many multiplayer-oriented Mario spin-off titles that included a diverse, playable cast of Mario characters such as those from the Mario Tennis and Mario Party series. Additionally, the game has been ranked as one of the greatest games of all time by various organizations due to its aforementioned legacy and its ground-breaking gameplay.

Super Mario Kart was re-released on the Wii's Virtual Console in 2009-2010, on the Wii U's Virtual Console in 2013-2014, on the New Nintendo 3DS's Virtual Console in 2016, is one of the 21 titles included on the Super NES Classic Edition, and is one of the 20 launch titles for Super Nintendo Entertainment System - Nintendo Switch Online, which also released a special version titled Super Mario Kart: Fully souped up! with 150cc and the Special Cup unlocked on May 26, 2021.

The above text is from the Super Mario Wiki and is available under a Creative Commons license. Attribution must be provided through a list of authors or a link back to the original article. Source: https://www.mariowiki.com/Super_Mario_Kart.</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/SuperMarioKart(USA).sfc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js">      
    </script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>