<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Mario World 2: Yoshi's Island SNES | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Super Mario World 2: Yoshi's Island</h3>
            <img class="thumbnail" src="supermariotwoyoshisisland.jpg">
            <p>SSuper Mario World 2: Yoshi's Island (sometimes referred to simply as Yoshi's Island) is a 2D platform game for the Super Nintendo Entertainment System, developed by Nintendo EAD. The game is the prequel to Super Mario World and it stars Yoshi and the Yoshi clan who, while carrying baby Mario, travel across Yoshi's Island to rescue baby Luigi from baby Bowser and his Magikoopa minion/caretaker, Kamek. Instead of relying on jumping and a power-up system for combat as in the traditional Mario platformers, Yoshis use their tongue and eggs to overcome obstacles, as well as the introduction of many other different mechanics. The game is notable for introducing a time-based health system rather than hit points, an anomaly to what many platform games typically did in this game's time period. Rather than relying on powerful pre-rendered graphics as its contemporary, Donkey Kong Country, did, Super Mario World 2: Yoshi's Island employs a very distinct, stylized arts and crafts style to stand on its own. The game makes use of the Super FX2 graphics chip (one of only four commercially-released SNES games to do so), which allows for larger, more detailed sprites and more advanced effects that emulate 3D space.

Although Super Mario World 2: Yoshi's Island was not as financially successful as its predecessor, the game's highly positive reception and unique style has spawned a new series of platform games from the Yoshi franchise, although it is the fourth entry overall. The game has received various adaptations into manga, such as receiving volumes dedicated to it in the Super Mario-kun and Kodansha's Super Mario manga series and extensive merchandising. The game has received a remake on the Game Boy Advance, Yoshi's Island: Super Mario Advance 3, which was released on Virtual Console for the Nintendo 3DS (with owners applicable for the Nintendo 3DS Ambassador Program being able to download the game for free) and Wii U. The original SNES version of Super Mario World 2: Yoshi's Island is included on the SNES Classic Edition, and although it was never announced for release on Virtual Console on any other system, it is one of the 20 launch titles for Super Nintendo Entertainment System - Nintendo Switch Online on the Nintendo Switch.

The above text is from the Super Mario Wiki and is available under a Creative Commons license. Attribution must be provided through a list of authors or a link back to the original article. Source: https://www.mariowiki.com/Super_Mario_World_2%3A_Yoshi's_Island .</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/SuperMarioWorld2.sfc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>