<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Mario World SNES | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Super Mario World</h3>
            <img class="thumbnail" src="SuperMarioWorldBox.webp">
            <p>Super Mario World, also known as Super Mario Bros. 4 in Japan, is a 2D Super Mario game and a launch title released for the Super Nintendo Entertainment System in 1990, developed by Nintendo EAD. Being a sequel to Super Mario Bros. 3, the game retains many of the elements that debuted in Super Mario Bros. 3, such as the world map and Koopaling boss fights, while introducing a large variety of new gameplay mechanics, such as an expanded and less linear world map and the ability to save the game. Introduced in Super Mario World is Mario's sidekick, Yoshi (and his species that shares his name), who serves as a playable mount for the Mario Bros. with his own unique abilities and gameplay style.

The game was released to best-selling status on the SNES, received large amounts of critical acclaim, and is commonly seen on Nintendo's best games of all time on various critic listings. Much of the game's introduced characters, game mechanics, and artistic themes influenced later titles in the Mario series, where the character Yoshi was popular enough to receive a series starring him. The game was followed in 1995 by a prequel, Super Mario World 2: Yoshi's Island, which is set many years before the events in Super Mario World. The game has spawned various non-game media such as a cartoon series that is based on the game, which debuted on September 14, 1991, one month after the American release. Various manga adaptions of the game have sprung up, one notable series being Super Mario-kun, which has its first volumes based on Super Mario World released in 1991 and is still ongoing today.

Super Mario World is included in the Super Mario All-Stars + Super Mario World compilation title released in December 1994. An enhanced port of Super Mario World was later released on the Game Boy Advance as part of the Super Mario Advance series, titled Super Mario World: Super Mario Advance 2. The original version was also rereleased on the Wii's Virtual Console in 2006, the Wii U's Virtual Console in 2013, and the New Nintendo 3DS's Virtual Console in 2016. Super Mario World is one of the included titles in the SNES Classic Edition and Super Nintendo Entertainment System - Nintendo Switch Online, the latter of which also includes a version titled Super Mario World: Give the world a whole new look!, which was released on March 31, 2022, and begins in Fall with 99 lives and a Cape Feather in the Item Storage.

The above text is from the Super Mario Wiki and is available under a Creative Commons license. Attribution must be provided through a list of authors or a link back to the original article. Source: https://www.mariowiki.com/Super_Mario_World</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_gameUrl = '/handlebargames/SuperMarioWorld(USA).sfc'; // Url to Game rom
        EJS_core = 'snes';
        EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/';
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>