<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turok: Dinosaur Hunter 64 | Welcome</title>
    <link rel="stylesheet" href="/views/public/css/pagestyles.css">
      <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="css/gamepage-style.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <h1><a class="navbar-item">
          GAMEATHON
        </a></h1>
      <div class="navbar-item has-dropdown is-hoverable">

        <div class="navbar-dropdown">

        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-secondary" href="games">
            <strong>Back to main page! </strong>
          </a>
          <a class="button is-warning" href="contactUS">
            <strong>Contact </strong>
          </a>

          <a class="button is-secondary" href="allComments">
            <strong>Comments </strong>
          </a>

          <a class="button is-warning" href="logout">
            <strong>Log Out! </strong>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>💣WHERE GAMERS GO!💣</h1>
            <h2 class="subheader">Scroll down and click on "start game" to get your game on!</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Turok: Dinosaur Hunter</h3>
            <img class="thumbnail" src="turoksixtyfourthumbnail.jpg">
            <p>Turok: Dinosaur Hunter is a first-person shooter video game developed by Iguana Entertainment and published by Acclaim for the Nintendo 64 console and Microsoft Windows. It was released in 1997 in North America and Europe. Turok is an adaptation of the Valiant Comics comic book series of the same name. The player controls Turok, a Native American warrior, who must stop the evil Campaigner from conquering the universe with an ancient and powerful weapon.

As Acclaim's first title for the Nintendo 64, Turok was part of a strategy to develop games internally and license merchandise; Acclaim acquired the rights to Turok when it purchased Valiant Comics in 1994, renaming it Acclaim Comics. Suffering from cash flow problems and falling sales, Acclaim came to rely on Turok as its best hope for a financial turnaround. Iguana pushed the Nintendo 64's graphics capabilities to its limits, and were forced to compress or cut elements to fit the game on its 8 megabyte cartridge. Bugs delayed the game's release from September 1996 to January 1997.

Critical reception of Turok was highly positive. Becoming one of the most popular games for the console on release, Turok won praise for its graphics and evolution of the genre. Complaints centered on graphical slowdowns caused by multiple enemies appearing onscreen and occasionally awkward controls. The game sold 1.5 million copies and boosted sales of the Nintendo 64. Turok spawned a video game franchise that includes a direct sequel, titled Turok 2: Seeds of Evil, in 1998, and a prequel, Turok: Evolution, in 2002. A remastered version of the game by Nightdive Studios[9] was released through digital distribution for Microsoft Windows in 2015, followed by an Xbox One release in 2018, a Nintendo Switch release in 2019,[11] and a PlayStation 4 release in 2021.</p>
            
            </div>
        </div>
<div class="gameArea">     
    <section class="gameFrame">
     <div >
    <div id="game"></div>
</div>
<script type="text/javascript">
    EJS_player = '#game';
    EJS_gameUrl = '/handlebargames/TurokDinosaurHunter.n64'; // Url to Game rom
    EJS_core = 'n64';
    EJS_pathtodata = 'https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/'
</script>
<script src="https://cdn.jsdelivr.net/gh/ethanaobrien/emulatorjs@main/data/loader.js"></script>

    </section>
</div>   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>



</html>