.imgGrid{
    width: 20%;
    height: auto;
}

.gameGrid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* 
 .grid{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}  */

.body {
    background-color: black;
}

.off-canvas-wrapper {
    background-color: black;
}

@font-face {
    font-family: "PressStart2P";
    src: url("/GameFolder/assets/PressStart2P-Regular.ttf");
}
body {
    font-family: "PressStart2p", sans-serif;
    font-size: 15px;
}
h1 {
    font-family: "PressStart2p", sans-serif;
        font-size: 50px;
}
h2,h3{
    font-family: "PressStart2p", sans-serif;
    font-size: 30px;
}
h4,h5 {
    font-family: "PressStart2p", sans-serif;
    font-size: 15px;
}
